/*
Site-wide styling variables have been loaded

*/

//Font variables
$site-font: Signika, sans-serif;

$site-font-weight: 300;
$font-light: 100;
$font-heavy: 400;

$site-font-size: 16px;
$font-size-xs: 0.5em;
$font-size-small: 0.7em;
$font-size-regular: 1em;
$font-size-plus-tenth: 1.1em;
$font-size-large: 2em;
$font-size-xl: 3em;
$font-size-xxl: 5em;

$site-letter-spacing: 0.3em;
$letter-spacing-super-tight: $site-letter-spacing * 0.2;
$letter-spacing-tight: $site-letter-spacing * 0.5;
$letter-spacing-normal: $site-letter-spacing;
$letter-spacing-wide: $site-letter-spacing * 1.3;

$box-width: 40vw;
$margin-standard: 1rem;
$margin-standard-abs: 10px;
$margin-large-abs: $margin-standard-abs * 2;
$margin-large: $margin-standard * 2;
$margin-half: 0.5rem;
$margin-button: $margin-half;
$margin-button-large: 1.5rem;
$padding-standard: 0.75em;
$padding-standard-abs: 10px;
$padding-large: $margin-large;
$padding-button: 0.5rem;
$border-rounding-standard: 10px;
$border-rounding-large: $border-rounding-standard * 2;

//Relative sizes
$rel-size-standard: 1rem;
$rel-size-teensy: 2px;
$rel-size-third: $rel-size-standard * 0.33;
$rel-size-quarter: $rel-size-standard * 0.25;
$rel-size-small: $rel-size-standard * 0.75;
$rel-size-one-and-a-half: $rel-size-standard * 1.5;
$rel-size-large: $rel-size-standard * 2;
$rel-size-larger: $rel-size-standard * 3;
$rel-size-vast: $rel-size-standard * 10;

// Absolute sizes
$abs-minus-2: -2px;
$abs-2: 2px;
$abs-3: 3px;
$abs-5: 5px;
$abs-7: 7px;
$abs-10: 10px;

// Timing
$transition-standard: 0.15s;
$transition-long: 0.8s;

// Percentages
$fullsized: 100%;
$almost-full: 86%;
$nothing: 0;
