/*
Site-wide styling variables have been loaded

*/

//Font variables
$site-font: Signika, sans-serif;

$box-width: 40vw;
$margin-standard: 1rem;
$margin-button: 0.5rem;
$padding-standard: 0.75em;
$border-rounding-standard: 1rem;
