/* Palette loaded */

$gradient-colour-1: rgba(173, 255, 47, 1);
$gradient-colour-2: rgba(3, 3, 79, 1);
$gradient-colour-1-soft: rgba(180, 241, 88, 0.5);
$gradient-colour-2-soft: rgba(102, 102, 241, 0.5);

$bright-blue: $gradient-colour-2;
$gray-standard: rgba(0, 0, 0, 0.1);

$text-light: rgb(243, 243, 186);
$text-bright: rgb(255, 255, 240);

$button-unpressed-standard: rgb(11, 129, 46);
$button-unpressed-standard-secondary: rgb(69, 238, 78);
$button-shadow-standard: rgb(149, 238, 143);
$button-pressed-shadow-standard: rgb(19, 98, 13);

$button-blue: rgb(107, 107, 245);

// Use this color to test whether you are affecting a style. Not for production-use!
$awful-pink: #e8536d;
