/*
=================
Site-wide styling
-----------------
*/

// Load Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300&display=swap");

body {
  font-family: "Titillium Web", serif;
  @include gradient(bottom right);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 0;
  padding-top: 0;
}

// Make the very top title fit snug to the page top to align with top nav bar
.topofpage {
  margin-top: 0;
  padding-top: 0;
}

//p {
//  text-align: center;
//  margin: 10px 0;
//  width: 50vw;
//  padding: 0;
//}
//
//.content-box {
//  font-family: "Spline", sans-serif;
//  padding: 20px;
//  margin-top: 25px;
//  margin-bottom: 25px;
//  display: inline-block;
//  width: 40vw;
//  font-size: large;
//  color: blue;
//  border: #090b81 solid 2px;
//  border-radius: 15px;
//  background-color: #b9d8f6;
//  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
//}
