.button-standard {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    $fullsized $fullsized at $almost-full $fullsized,
    $button-unpressed-standard,
    $button-unpressed-standard-secondary
  );
  border: $nothing;
  border-radius: $rel-size-large;
  box-shadow: $button-shadow-standard $nothing $abs-3 $abs-7 inset;
  box-sizing: border-box;
  color: $prim-text-highlight;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  padding: $abs-7 $abs-10;
  position: relative;
  transition: box-shadow $transition-standard, transform $transition-standard;
  -webkit-user-select: none;
  font-size: $font-size-regular;
  margin-top: $margin-standard;
  text-decoration: none;
}

.button-standard:hover {
  transform: translateY($abs-minus-2);
}

.button-standard:active {
  box-shadow: $button-pressed-shadow-standard $nothing $abs-3 $abs-7,
    $button-pressed-shadow-standard $nothing $abs-3 $abs-7 inset;
  transform: translateY($abs-minus-2);
}
