.button-choice {
  font-size: $font-size-small;
}

.button-needs-right-margin {
  margin-right: $margin-button-large;
}

.choice-text {
  padding: $padding-button $rel-size-one-and-a-half $rel-size-quarter
    $rel-size-quarter;
  border-top: solid $light 2px;
  border-left: solid $bright 2px;
  @include gradient-soft();
}
