.button-bar {
  display: flex;
  //gap: 1em;
  justify-content: space-around;
  align-content: center;
  border-top: 3px $gradient-colour-1-soft solid;
  border-bottom: 3px $gradient-colour-1-soft solid;
  border-radius: 10px;
  padding: 1em;
  width: 50%;
}
