.button-standard {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 85% 0,
    $button-unpressed-standard,
    $button-unpressed-standard-secondary
  );
  border: 0;
  border-radius: $rel-size-large;
  box-shadow: $button-shadow-standard 0 3px 7px inset;
  box-sizing: border-box;
  color: $prim-text-highlight;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  padding: $rel-size-third $rel-size-standard;
  position: relative;
  transition: box-shadow $transition-standard, transform $transition-standard;
  -webkit-user-select: none;
  font-size: $font-size-regular;
  margin-top: $margin-standard;
  text-decoration: none;
}

.button-standard:hover {
  transform: translateY(-2px);
}

.button-standard:active {
  box-shadow: $button-pressed-shadow-standard 0 3px 7px,
    $button-pressed-shadow-standard 0 3px 7px inset;
  transform: translateY(2px);
}
