.button-standard {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 85% 0,
    $button-unpressed-standard,
    $button-unpressed-standard-secondary
  );
  border: 0;
  border-radius: 2rem;
  box-shadow: $button-shadow-standard 0 3px 7px inset;
  box-sizing: border-box;
  color: $text-light;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  padding: 0.33rem 1rem;
  position: relative;
  transition: box-shadow 0.15s, transform 0.15s;
  -webkit-user-select: none;
  font-size: medium;
  margin-top: 1rem;
  text-decoration: none;
}

.button-standard:hover {
  transform: translateY(-2px);
}

.button-standard:active {
  box-shadow: $button-pressed-shadow-standard 0 3px 7px,
    $button-pressed-shadow-standard 0 3px 7px inset;
  transform: translateY(2px);
}
