.button-choice {
  font-size: small;
}

.button-needs-right-margin {
  margin-right: 1.5rem;
}

.choice-text {
  padding: 0.5rem 1.5rem 0.25rem 0.25rem;
  //border-radius: 15px;
  border-top: solid rgb(205, 238, 137) 2px;
  border-left: solid rgba(255, 255, 255, 0.8) 2px;
  @include gradient-soft();
}
