.navbar {
  position: fixed;
  width: 98%;
  @include gradient(top);
  z-index: 100;
  border-bottom-left-radius: $border-rounding-large;
  border-bottom-right-radius: $border-rounding-large;
  @include shadow-standard();
  padding: 0 $padding-button;
}

.nav-logo a {
  color: $prim-text-highlight;
  text-decoration: none;
  font-size: $font-size-large;
}

.nav-logo a:hover {
  color: $prim-text;
}

.navbar .nav-header {
  display: inline;
}

.navbar .nav-header .nav-logo {
  display: inline-block;
}

.navbar .nav-links {
  display: inline;
  float: right;
  margin: $margin-large-abs;
}

.navbar .nav-links a {
  font-size: $font-size-plus-tenth;
  color: $prim-text;
  text-decoration: none;
  padding: $margin-standard-abs;
}

/* Hover effects */
.navbar .nav-links a:hover {
  color: $prim-text-highlight;
  border-bottom: solid $white-very-transparent $rel-size-teensy;
  border-left: solid $white-slight-transparent $rel-size-teensy;
  border-radius: $border-rounding-standard;
  transition: all $transition-standard ease-in;
}

/* responsive navbar toggle button */
.navbar #nav-check,
.navbar .nav-btn {
  display: none;
}

@media (max-width: 1000px) {
  .navbar {
    border: none;
    box-shadow: none;
    background-image: none;
  }

  .nav-logo a {
    display: none;
  }

  .navbar .nav-btn {
    display: inline-block;
    position: absolute;
    top: $nothing;
    right: $nothing;
  }

  .navbar .nav-btn label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 15px $nothing $nothing $abs-10;
  }

  .navbar .nav-btn label span {
    display: block;
    height: $abs-10;
    width: 25px;
    border-top: 3px solid $highlight-color;
  }

  .navbar .nav-btn label:hover,
  .navbar #nav-check:checked ~ .nav-btn label {
    background-color: $gray-standard;
  }

  .navbar .nav-links {
    position: absolute;
    display: block;
    text-align: center;
    background-color: $gradient-colour-1-soft;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 55px;
    right: $nothing;
    z-index: 100;
  }

  .navbar .nav-links a {
    display: block;
    margin-left: $margin-large-abs $nothing;
    margin-right: 20px;
  }

  /* when nav toggle button not checked */
  .navbar #nav-check:not(:checked) ~ .nav-links {
    height: $nothing;
  }

  /* when nav toggle button is checked */
  .navbar #nav-check:checked ~ .nav-links {
    padding-bottom: 50px;
    //height: calc(100vh - 70px);
    //overflow-y: auto;
  }
}
