/* Content Box styling */

.content-box {
  font-family: "Spline", sans-serif;
  font-size: $font-size-regular;
  @include gradient-soft(top left);
  width: $box-width;
  margin-top: $margin-standard;
  margin-bottom: $margin-standard;
  padding: $padding-standard;
  display: inline-block;
  border: $bright-blue solid $abs-2;
  border-radius: $border-rounding-standard;
  text-align: center;
  color: $prim-text;
  @include shadow-standard();

  ul li {
    list-style: none;
    font-size: $font-size-plus-tenth;
    margin-top: $rel-size-third;
  }

  &:hover {
    color: $prim-text-highlight;
  }
}

.content-box-subtitle {
  font-size: $font-size-large;
  color: $prim-text-highlight;
}

.content-box-content {
  font-size: $font-size-regular;
  color: $prim-text;
}
