/* Load Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300&display=swap");

body {
  font-family: "Titillium Web", serif;
  background-image: linear-gradient(
    to bottom right,
    rgb(173, 255, 47),
    rgb(0, 0, 255)
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 0;
  padding-top: 0;
}

.topofpage {
  margin-top: 0;
  padding-top: 0;
}

p {
  text-align: center;
  margin: 10px 0;
  width: 50vw;
  padding: 0;
}

.content-box {
  font-family: "Spline", sans-serif;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: inline-block;
  width: 40vw;
  font-size: large;
  color: blue;
  border: #090b81 solid 2px;
  border-radius: 15px;
  background-color: #b9d8f6;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), inset 0 -3px 3px rgba(0, 0, 0, 0.1);
}

/* Nav Bar */
.navbar {
  position: fixed;
  width: 98%;
  padding: 10px 10px 10px 10px;
  background-color: transparent;
  border-radius: 10px;
  border-bottom: solid 5px rgba(255, 255, 255, 0.2);
}

.nav-logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.navbar .nav-header {
  display: inline;
}

.navbar .nav-header .nav-logo {
  display: inline-block;
}

.navbar .nav-link a {
  border: rgba(255, 255, 255, 0.5) solid 2px;
  padding: 5px 15px;
  border-radius: 10px;
  margin: 3px;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

/* Hover effects */
.navbar .nav-link a:hover {
  color: white;
  border-bottom: solid rgba(255, 255, 255, 0.4) 2px;
  border-left: solid rgba(255, 255, 255, 0.8) 2px;
  border-radius: 10px;
  transition: all 0.1s ease-in;
}

/* responsive navbar toggle button */
.navbar #nav-check,
.navbar .nav-btn {
  display: none;
}

@media (max-width: 1000px) {
  .navbar {
    border: none;
  }

  .nav-logo a {
    display: none;
  }

  .navbar .nav-btn {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  .navbar .nav-btn label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 15px 0 0 10px;
  }

  .navbar .nav-btn label span {
    display: block;
    height: 10px;
    width: 25px;
    border-top: 3px solid #eee;
  }

  .navbar .nav-btn label:hover,
  .navbar #nav-check:checked ~ .nav-btn label {
    background-color: rgba(9, 14, 90, 0.1);
  }

  .navbar .nav-link {
    position: absolute;
    display: block;
    text-align: center;
    background-color: rgba(9, 14, 90, 0.1);
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 55px;
    right: 0px;
  }

  .navbar .nav-link a {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }

  /* when nav toggle button not checked */
  .navbar #nav-check:not(:checked) ~ .nav-link {
    height: 0px;
  }

  /* when nav toggle button is checked */
  .navbar #nav-check:checked ~ .nav-link {
    height: calc(100vh - 70px);
    overflow-y: auto;
  }

  .navbar .nav-link .loginBtn {
    padding: 10px 40px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(9, 14, 90);
  }
}

/* Footer */
.footer {
  border: rgba(255, 255, 255, 0.5) solid 2px;
  border-radius: 100px;
  color: rgb(205, 238, 137);
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 10px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.footer a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  border-bottom: solid rgba(255, 255, 255, 0.75) 1px;
}

.footer a:hover {
  color: rgba(255, 255, 255, 1);
  border-bottom: solid rgba(255, 255, 255, 1) 2px;
}
