<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../static/style/main.css"/>
    <!--Import icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">
    <title>Choosy: {{page_title}}</title>
</head>
<body>


<div class="navbar">
    <!-- Navbar logo -->
    <div class="nav-header">
        <div class="nav-logo">
            <a href="{{url_for('index')}}">Fun Coding Projects</a>
        </div>
    </div>

    <!-- responsive navbar toggle button -->
    <input type="checkbox" id="nav-check"/>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <!-- Navbar items -->
    <div class="nav-links">
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('choosy')}}">Choosy</a>
<!--        <a href="{{url_for('stylish')}}">Stylish</a>-->
        <div class="range-container">
            <input type="range"  id="font-size-slider" min="8" max="32">
            <label for="font-size-slider" id="font-size-slider-label">16</label>
        </div>
    </div>

</div>

<h1 class="topofpage">{{page_title}}</h1>

{% block content %} {% endblock %}
<p></p>

<script src="static/js/src/app.js" type="module"></script
</body>
</html>
