{% extends 'base.html' %} {% block content %}

<div class="wrapper">
  <div class="tabs">
    <div class="tab">
      <input
        type="radio"
        name="css-tabs"
        id="tab-1"
        checked
        class="tab-switch"
      />
      <label for="tab-1" class="tab-label">Python</label>
      <div class="tab-content">
        <h2>Built in Python</h2>
        <div class="content-box">
          <h3>Choice List</h3>
          <form action="{{ url_for('add_choice') }}" method="POST">
            <button class="button-standard" type="submit">+</button>
            <input type="text" name="choice-text" class="choice-text" />
          </form>
          <ul id="choice-list-python">
            {% for item in choice_list %} {% include 'choice_button_python.html'
            %} {% endfor %}
          </ul>
        </div>
        <form class="form" action="{{ url_for('choice_made') }}">
          <button class="button-standard">Make A Choice</button>
        </form>
      </div>
    </div>
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-2" class="tab-switch" />
      <label for="tab-2" class="tab-label">Javascript</label>
      <div class="tab-content">
        <h2>Built in Javascript</h2>
        <div class="content-box">
          <h3>Choice List</h3>
          <ul id="choice-list"></ul>
          <button class="button-standard button-choice" id="add-choice">
            +
          </button>
        </div>
        <div>
          <form class="form">
            <button
              class="button-standard"
              id="makeAChoice"
              onclick="makeChoice(); return false;"
            >
              Show a choice below
            </button>
          </form>
        </div>
        <div class="content-box">
          <h3 id="choice-made"></h3>
        </div>
      </div>
    </div>
    <div class="tab">
      <input type="radio" name="css-tabs" id="tab-3" class="tab-switch" />
      <label for="tab-3" class="tab-label">Technical Details</label>
      <div class="tab-content">
        <h1>Technical Details</h1>
      </div>
    </div>
  </div>
</div>

<script src="static/js/components/choicemaker/chooser.js"></script>

{% endblock %}
