{% extends 'base.html' %} {% block content %}
<div class="wrapper">
    <div class="tabs">
        <div class="tab">
            <input
                    type="radio"
                    name="css-tabs"
                    id="tab-1"
                    checked
                    class="tab-switch"
            />
            <label for="tab-1" class="tab-label">Choice Made</label>
            <div class="tab-content">
                <h3>Flexible CSS</h3>
                <p>
                    Here we can see a few examples of CSS styling-how to use flexbox and
                    flexgrid
                </p>
                <div class="content-box">
                    <h3>Inline display</h3>
                    <p>This is the default display. Elements line up vertically</p>

                    <div class="inline-container">
                        <div class="inline-cell">1</div>
                        <div class="inline-cell">2</div>
                        <div class="inline-cell">3</div>
                    </div>
                </div>

                <div class="content-box">
                    <h3>Flex Display</h3>
                    <p>In a flexbox, items line horizontally.
                        By adding a wrap flag, they flow on to the next line.
                    when they run out of space.
                    I don't specify specific width for the items, so they flow responsively.
                    On my screen, the last item is on a row by itself and takes uo the whole
                    container width, but this will vary by screen!</p>
                    <p>While you may believe there is margin between the cells, we can use
                    a propo=erty called 'gap' on the container. This adds a gap between items.</p>
                    <p>Look at cell 6. Is it a bit wider than its fellow cells? This is by setting a
                    flex-grow property</p>
                    <div class="flex-container">
                        <div class="flex-cell">1</div>
                        <div class="flex-cell">2</div>
                        <div class="flex-cell">3</div>
                        <div class="flex-cell">4</div>
                        <div class="flex-cell">5</div>
                        <div class="flex-cell flex-cell-grow">6</div>
                        <div class="flex-cell">7</div>
                        <div class="flex-cell">8</div>
                        <div class="flex-cell">9</div>
                    </div>
                    <p>There is a LOT more to explore with flex-box.</p>
                    <p><a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">This site</a>
                    has a ton of great material!</p>
                </div>
            </div>
        </div>

        <div class="tab">
            <input type="radio" name="css-tabs" id="tab-2" class="tab-switch"/>
            <label for="tab-2" class="tab-label">Technical Details</label>
            <div class="tab-content"></div>
        </div>
    </div>
</div>

{% endblock %}
</div>
